PORT=3000
EMAIL_USER=email@email.com
EMAIL_PASS=password
EMAIL_HOST=host
EMAIL_PORT=port
EMAIL_SECURE=true
ALLOWED_ORIGIN=localhost
REDIS_URL=redis://localhost:6379
THROTTLE_TTL=86400000 # 24 hours in milliseconds
THROTTLE_LIMIT=100 # Max 100 requests per day per IP
NODE_ENV=development
